
.recipe-list{
    margin-top: 3rem;
    padding:3rem;
    border:3px solid purple;
    

  &__text{
    text-align: center;
  }

  &__item{
      padding:3rem;
      border: 3px solid green;
      margin-bottom: 2rem;
      display: flex;
      justify-content: space-between;
  }

  &__recipe-list__actions > * {
     margin-right: 1rem;
     
  }
  &__recipe-list__edit{

  }
  &__recipe-list__remove{
      
}
}

